### This notebook for Coursera's 'Segmenting and Clustering Neighborhoods in Toronto' Assignment

In [1]:
!python -m pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (4.6.3)

In [3]:
import bs4

In [5]:
!python -m pip install lxml

Requirement already satisfied: lxml in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (4.2.5)

In [22]:
!python -m pip install html5lib

Requirement already satisfied: html5lib in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: six>=1.9 in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (from html5lib) (1.12.0)
Requirement already satisfied: webencodings in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [23]:
!python -m pip install requests

Requirement already satisfied: requests in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (from requests) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (from requests) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (from requests) (2.8)

In [12]:
!python -m pip install urllib3

Requirement already satisfied: urllib3 in d:\users\anhhtn10\appdata\local\continuum\anaconda3\lib\site-packages (1.24.1)

In [7]:
from bs4 import BeautifulSoup

In [24]:
import requests

In [70]:
import pandas as pd
import numpy as np

In [37]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [38]:
soup = BeautifulSoup(source, 'lxml')

In [111]:
tables = soup.find('table',{'class':'wikitable sortable'})

In [58]:
# Search through the tables for the one with the headings we want.
for table in tables:
    ths = tables.findAll('th')
    headings = [th.text.strip() for th in ths]
    if headings[:3] == ['Postcode', 'Borough', 'Neighbourhood']:
        break

In [59]:
# Extract the columns we want and write to a semicolon-delimited text file.
with open('mytables.txt', 'w') as fo:
    for tr in tables.findAll('tr'):
        tds = tr.findAll('td')
        if not tds:
            continue
        Postcode, Borough,Neighbourhood = [td.text.strip() for td in tds[:3]]
        if '!' in Borough:
            Borough = Borough[Borough.index('!')+1:]
        print('; '.join([Postcode, Borough, Neighbourhood]), file=fo)

In [106]:
df = pd.read_csv('mytables.txt', sep=';', header=None, names=['Postcode', 'Borough', 'Neighbourhood'])
df.head(10)

  Postcode            Borough      Neighbourhood
0      M1A       Not assigned       Not assigned
1      M2A       Not assigned       Not assigned
2      M3A         North York          Parkwoods
3      M4A         North York   Victoria Village
4      M5A   Downtown Toronto       Harbourfront
5      M5A   Downtown Toronto        Regent Park
6      M6A         North York   Lawrence Heights
7      M6A         North York     Lawrence Manor
8      M7A       Queen's Park       Not assigned
9      M8A       Not assigned       Not assigned

In [107]:
df = df[df.Borough != ' Not assigned']
df.head(10)

   Postcode            Borough      Neighbourhood
2       M3A         North York          Parkwoods
3       M4A         North York   Victoria Village
4       M5A   Downtown Toronto       Harbourfront
5       M5A   Downtown Toronto        Regent Park
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A       Queen's Park       Not assigned
10      M9A          Etobicoke   Islington Avenue
11      M1B        Scarborough              Rouge
12      M1B        Scarborough            Malvern

In [108]:
df['Neighbourhood'][df.Neighbourhood == ' Not assigned'] = df.Borough
df.head(20)

   Postcode            Borough      Neighbourhood
2       M3A         North York          Parkwoods
3       M4A         North York   Victoria Village
4       M5A   Downtown Toronto       Harbourfront
5       M5A   Downtown Toronto        Regent Park
6       M6A         North York   Lawrence Heights
7       M6A         North York     Lawrence Manor
8       M7A       Queen's Park       Queen's Park
10      M9A          Etobicoke   Islington Avenue
11      M1B        Scarborough              Rouge
12      M1B        Scarborough            Malvern
14      M3B         North York    Don Mills North
15      M4B          East York   Woodbine Gardens
16      M4B          East York      Parkview Hill
17      M5B   Downtown Toronto            Ryerson
18      M5B   Downtown Toronto    Garden District
19      M6B         North York          Glencairn
22      M9B          Etobicoke         Cloverdale
23      M9B          Etobicoke          Islington
24      M9B          Etobicoke       Martin Grove
25      M9B          Etobicoke   Princess Gardens

In [109]:
df= df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.head(10)

  Postcode       Borough                                     Neighbourhood
0      M1B   Scarborough                                    Rouge, Malvern
1      M1C   Scarborough            Highland Creek, Rouge Hill, Port Union
2      M1E   Scarborough                 Guildwood, Morningside, West Hill
3      M1G   Scarborough                                            Woburn
4      M1H   Scarborough                                         Cedarbrae
5      M1J   Scarborough                               Scarborough Village
6      M1K   Scarborough       East Birchmount Park, Ionview, Kennedy Park
7      M1L   Scarborough                   Clairlea, Golden Mile, Oakridge
8      M1M   Scarborough   Cliffcrest, Cliffside, Scarborough Village West
9      M1N   Scarborough                       Birch Cliff, Cliffside West

In [110]:
df.shape

(103, 3)

In [113]:
df2 = pd.read_csv('Geospatial_Coordinates.csv')
df2.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [115]:
df2.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
df2.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [116]:
result = pd.merge(df, df2, on='Postcode')
result.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848